body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

#quizContainer {
    margin-top: 20px;
}

button {
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #4CAF50; /*FFFFBF*/
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#quizAnswer {
    font-weight: bold;
}
